.signup-wrapper{width: 30%;border: 1px solid #ccc; padding: 10px;margin-top: 30px;}
.signupform h2{text-align: center;width: 100%;color: #000;}
.last-section button{width: 100%;}
.last-section p{margin-top: 10px;}